{% if trailer %}
    <div class="video-container">
        <iframe 
            src="https://www.youtube.com/embed/{{ trailer.key }}"
            class="w-full aspect-video rounded-lg"
            allowfullscreen
        ></iframe>
    </div>
{% endif %}